
h2{
  margin: auto;
  padding-right: 10px;
  margin-left: 10px;
}

h2:hover{
  cursor: default;
}

mat-card{
  background-color: #0065d5;
  color: white;
  padding: 5px 10px;
}

mat-icon:hover{
  cursor: pointer;
}
